.logo {
    font-size: 4.5rem;
    letter-spacing: 1px;
    padding-top: .5rem;
    text-transform: uppercase;

    & span {
        opacity: .5;
    }
}

.heading-secondary {
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    display: inline-block;
}

.heading-tertiary {
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.date {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.header-link {
    font-size: 2rem;
    letter-spacing: .5px;
}

.footer-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: $color-light;
}   
